/* Write your global styles here, in PostCSS syntax */
/* No need for tailwind directives thanks to Skeleton */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
html, body { @apply h-full overflow-hidden; }